{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'page/css/hairstyle.css'%}" />
    <title>Document</title>
  </head>
  {% block content %}
  <body>
    <div class="login_bar">
      {% if user.is_authenticated %}
      <div class="login">{{user.username}}님</div>
      <div class="login"><a href="{% url 'logout' %}">로그아웃</a></div>
      {% else %}
      <div class="login">
        <a href="{% url 'login' %}">로그인</a>
      </div>
      <div class="login">
        <a href="{% url 'signup'%}">회원가입</a>
      </div>
      {% endif %}
    </div>
    <div class="title" onclick="javascript:location.href='{% url 'home'%}'">
      Hair Wings
    </div>
    <div class="menu_bar">
      <div onclick="javascript:location.href='{% url 'hairstyle'%}'">
        헤어스타일
      </div>
      <div onclick="javascript:location.href='{% url 'community_home'%}'">
        Hair커뮤니티
      </div>
      <div onclick="javascript:location.href='{% url 'map'%}'">헤어샵 찾기</div>
    </div>
    <div class="findhair_title">원하는 헤어스타일을 선택해주세요.</div>
    <div class="findhair_body">
      <div class="findhair">
        <div class="findhair_img">
          <img src="{% static 'page/image/findhair/find1_1.jpg' %}" alt="" />
        </div>
        <div
          class="findhair_name"
          onclick="javascript:location.href='{% url 'hair1'%}'"
        >
          리젠트컷 / 아이비리그컷
        </div>
      </div>
      <div class="findhair">
        <div class="findhair_img">
          <img src="{% static 'page/image/findhair/find2_1.jpg' %}" alt="" />
        </div>
        <div
          class="findhair_name"
          onclick="javascript:location.href='{% url 'hair2'%}'"
        >
          포마드
        </div>
      </div>
      <div class="findhair">
        <div class="findhair_img">
          <img src="{% static 'page/image/findhair/find4_1.jpg' %}" alt="" />
        </div>
        <div
          class="findhair_name"
          onclick="javascript:location.href='{% url 'hair4'%}'"
        >
          댄디 / 시스루펌
        </div>
      </div>
      <div class="findhair">
        <div class="findhair_img">
          <img src="{% static 'page/image/findhair/find3_3.jpg' %}" alt="" />
        </div>
        <div
          class="findhair_name"
          onclick="javascript:location.href='{% url 'hair3'%}'"
        >
          쉐도우펌
        </div>
      </div>
      <div class="findhair">
        <div class="findhair_img">
          <img src="{% static 'page/image/findhair/find5_1.jpg' %}" alt="" />
        </div>
        <div
          class="findhair_name"
          onclick="javascript:location.href='{% url 'hair5'%}'"
        >
          리프컷 / 리프펌
        </div>
      </div>
      <div class="findhair">
        <div class="findhair_img">
          <img src="{% static 'page/image/findhair/find6_3.jpg' %}" alt="" />
        </div>
        <div
          class="findhair_name"
          onclick="javascript:location.href='{% url 'hair6'%}'"
        >
          애즈펌 / 가르마펌
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}
