{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'page/css/hair.css'%}" />
    <title>hair</title>
  </head>
  {% block content %}
  <body>
    <div class="login_bar">
      {% if user.is_authenticated %}
      <div class="login">{{user.username}}님</div>
      <div class="login"><a href="{% url 'logout' %}">로그아웃</a></div>
      {% else %}
      <div class="login">
        <a href="{% url 'login' %}">로그인</a>
      </div>
      <div class="login">
        <a href="{% url 'signup'%}">회원가입</a>
      </div>
      {% endif %}
    </div>
    <div class="title" onclick="javascript:location.href='{% url 'home'%}'">
      Hair Wings
    </div>
    <div class="menu_bar">
      <div onclick="javascript:location.href='{% url 'hairstyle'%}'">
        헤어스타일
      </div>
      <div onclick="javascript:location.href='{% url 'community_home'%}'">
        Hair커뮤니티
      </div>
      <div onclick="javascript:location.href='{% url 'map'%}'">헤어샵 찾기</div>
    </div>
    <div class="hair_body">
      <div class="hair_body_title">댄디/시스루펌</div>
      <div class="hair_body_img">
        <div class="hair_img">
          <img src="{% static 'page/image/findhair/find3_1.jpg'%}" alt="" />
        </div>
        <div class="hair_img">
          <img src="{% static 'page/image/findhair/find3_2.jpg'%}" alt="" />
        </div>
        <div class="hair_img">
          <img src="{% static 'page/image/findhair/find3_3.jpg'%}" alt="" />
        </div>
      </div>
      <div class="hair_body_content">
        <p>
          댄디 / 시스루펌은 가장 무난한 느낌의 헤어가 아닐까 싶은데요. ​
          답답하지 않게 살짝 친 앞머리를 내려 굉장히 차분하고 단정한 이미지를
          주기 좋습니다.
        </p>
        <p id="font_warning">
          둥근형/하트형분들은 앞머리를 내렸을 때 자칫하면 세로폭이 줄어들어
          답답해보이기에 앞머리를 길게 내리는건 추천드리지 않습니다.
        </p>
        <p>
          그러므로 계란형 / 긴형이 했을 때 좀 더 무난하게 소화가능한 헤어스타일
          입니다!
        </p>
        <p id="font_bottom">[ 추천 얼굴형 ] 계란형 / 긴형</p>
      </div>
    </div>
  </body>
</html>
{% endblock %}
