* {
  box-sizing: border-box;
}

.login_bar {
  height: 40px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.login {
  font-size: 15px;
  margin: 10px;
}

.login a {
  color: black;
  text-decoration: none;
}

.title {
  height: 150px;
  font-size: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
}

.menu_bar {
  height: 55px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-weight: 3px;
}

.menu_img {
  width: 50px;
  height: 100%;
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.new_body {
  width: 100%;
  height: 700px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new_title {
  width: 700px;
  height: 40px;
  margin: 6px;
  justify-content: center;
}

.new_content {
  width: 700px;
  height: 300px;
  margin: 6px;
  text-align: start;
  text-align: start;
}

.new_title input {
  width: 600px;
  height: 40px;
  border-radius: 2px;
  border: 1px solid #dddddd;
}

.new_content textarea {
  width: 600px;
  height: 300px;
  border: 1px solid #dddddd;
}

.new_submit {
  width: 700px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.new_submit input {
  width: 200px;
  height: 40px;
  background-color: black;
  color: white;
  text-align: center;
  align-items: center;
  font-size: 17px;
  border-radius: 2px;
}
